@page "/agriculture"

<MemberProfile MemberName="Goku"
               MemberTitle="Secretary of Agriculture"
               ImageUrl="https://static.wikia.nocookie.net/superheroes/images/0/09/Goku.png">

    <p>
        <strong>TO DO</strong>
    </p>

</MemberProfile>