@page "/agriculture"

<MemberProfile MemberName="Goku"
               MemberTitle="Secretary of Agriculture"
               ImageUrl="https://static.wikia.nocookie.net/superheroes/images/0/09/Goku.png">

    <p>
        <strong>
        The USDA requires a commitment to sustainability and resource protection. Goku, who possesses exceptional endurance and an affinity for natural resources (symbolized by the Senjutsu beans), would ensure rigorous oversight of food production. His mission would be to aggressively champion sustainable farming and conservation, ensuring food security and safety standards across the entire national supply chain with unwavering focus.
        </strong>
    </p>

</MemberProfile>