@page "/Commerce"

<MemberProfile MemberName="Jeffrey Bezos"
               MemberTitle="Secretary of Commerce"
               ImageUrl="https://www.pngmart.com/files/22/Jeff-Bezos-PNG-Photo.png">

    <p>
        <strong>
            Commerce promotes economic growth and global trade. Jeffrey Bezos, having built one of the world's most extensive commercial networks, possesses unparalleled expertise in market efficiency and global supply chains. As Secretary, he would focus on maximizing economic output, driving technological adoption among businesses, and ensuring American sustained competitiveness in international commerce.
        </strong>
    </p>

</MemberProfile>