@page "/Commerce"

<MemberProfile MemberName="Jeffrey Bezos"
               MemberTitle="Secretary of Commerce"
               ImageUrl="https://www.pngmart.com/files/22/Jeff-Bezos-PNG-Photo.png">

    <p>
        <strong>TO DO</strong>
    </p>

</MemberProfile>