@page "/Defense"

<MemberProfile MemberName="Rick Sanchez"
               MemberTitle="Secretary of Defense"
               ImageUrl="https://upload.wikimedia.org/wikipedia/en/a/a6/Rick_Sanchez.png">

    <p>
        <strong>TO DO</strong>
    </p>

</MemberProfile>