@page "/Education"

<MemberProfile MemberName="Mrs. Frizzle"
               MemberTitle="Secretary of Education"
               ImageUrl="https://static.wikia.nocookie.net/dragon-quest-adventures/images/2/27/Ms._Frizzle.gif">

    <p>
        <strong>
            The DoE must promote high student achievement through innovation. Mrs. Frizzle’s methods—experiential and hands-on learning—perfectly align with promoting scientific literacy and engagement. Her leadership would shift the focus to a modernized, concept-based curriculum where complex subjects are made accessible and engaging, ensuring all students receive a comprehensive and transformative educational experience.
        </strong>
    </p>

</MemberProfile>