@page "/Energy"

<MemberProfile MemberName="Tony Stark"
               MemberTitle="Secretary of Energy"
               ImageUrl="https://static.wikia.nocookie.net/heroes-unite/images/d/db/Tony_Stark_MCU.png">

    <p>
        <strong>TO DO</strong>
    </p>

</MemberProfile>