@page "/Energy"

<MemberProfile MemberName="Tony Stark"
               MemberTitle="Secretary of Energy"
               ImageUrl="https://static.wikia.nocookie.net/heroes-unite/images/d/db/Tony_Stark_MCU.png">

    <p>
        <strong>
            The DoE focuses on energy security and clean technology. Tony Stark is a pioneering technological master whose creation of the Arc Reactor demonstrates his ability to achieve revolutionary energy independence. As Secretary, he would accelerate the transition from fossil fuels, investing heavily in fusion and next-generation clean energy to ensure the U.S. achieves global leadership in sustainable and secure power generation.
        </strong>
    </p>

</MemberProfile>