@page "/HealthHumanServ"

<MemberProfile MemberName="Dr. House"
               MemberTitle="Secretary of Health and Human Services"
               ImageUrl="https://static.wikia.nocookie.net/vsbattles/images/6/6b/GregHouse.png">

    <p>
        <strong>TO DO</strong>
    </p>

</MemberProfile>