@page "/HealthHumanServ"

<MemberProfile MemberName="Dr. House"
               MemberTitle="Secretary of Health and Human Services"
               ImageUrl="https://static.wikia.nocookie.net/vsbattles/images/6/6b/GregHouse.png">

    <p>
        <strong>
            HHS requires an expert focus on public health and medical solutions. Dr. House’s unmatched diagnostic ability means he would not treat symptoms but relentlessly pursue the root cause of systemic health issues. He would direct medical research and federal resources toward finding definitive, data-driven solutions for major crises, ensuring public health strategy is based on rigorous analysis and effective, long-term intervention.
        </strong>
    </p>

</MemberProfile>