@page "/Homeland"

<MemberProfile MemberName="Perry the Platypus"
               MemberTitle="Secretary of Homeland Security"
               ImageUrl="https://upload.wikimedia.org/wikipedia/en/d/dc/Perry_the_Platypus.png">

    <p>
        <strong>TO DO</strong>
    </p>

</MemberProfile>