@page "/Homeland"

<MemberProfile MemberName="Perry the Platypus"
               MemberTitle="Secretary of Homeland Security"
               ImageUrl="https://upload.wikimedia.org/wikipedia/en/d/dc/Perry_the_Platypus.png">

    <p>
        <strong>
            DHS needs efficient protection against diverse threats. Perry the Platypus (Agent P) is a highly effective covert operative skilled in counter-terrorism and espionage. His ability to neutralize unpredictable, high-tech schemes swiftly and discreetly would ensure national security is maintained through proactive and quiet means, avoiding undue public alarm and excessive bureaucracy in responding to high-level dangers.
        </strong>
    </p>

</MemberProfile>