@page "/HousingUrbanDev"

<MemberProfile MemberName="Bob the Builder"
               MemberTitle="Secretary of Housing and Urban Development"
               ImageUrl="https://upload.wikimedia.org/wikipedia/en/c/c5/Bob_the_builder.jpg">

    <p>
        <strong>TO DO</strong>
    </p>

</MemberProfile>