@page "/HousingUrbanDev"

<MemberProfile MemberName="Bob the Builder"
               MemberTitle="Secretary of Housing and Urban Development"
               ImageUrl="https://upload.wikimedia.org/wikipedia/en/c/c5/Bob_the_builder.jpg">

    <p>
        <strong>
            HUD focuses on building sustainable communities and housing. Bob’s core competence is straightforward project management, efficient construction, and a commitment to quality. As Secretary, he would ensure affordable housing and urban development projects are completed on time and built to the highest standard. His collaborative and positive nature would foster stronger ties between residents and public works teams.
        </strong>
    </p>

</MemberProfile>