@page "/Interior"

<MemberProfile MemberName="FLuttershy"
               MemberTitle="Secretary of Interior"
               ImageUrl="https://www.pngkey.com/png/full/949-9490860_mlp-fluttershy-cartoon.png">

    <p>
        <strong>TO DO</strong>
    </p>

</MemberProfile>