@page "/Interior"

<MemberProfile MemberName="FLuttershy"
               MemberTitle="Secretary of Interior"
               ImageUrl="https://www.pngkey.com/png/full/949-9490860_mlp-fluttershy-cartoon.png">

    <p>
        <strong>
            The DoI manages federal lands and conservation. Fluttershy’s profound empathy for nature and wildlife makes her the ideal conservation steward. She would prioritize ecological balance in managing national parks and resources, acting as a sensitive yet firm advocate for environmental preservation. Her leadership would focus on sustainable practices and mediating resource conflicts with a view toward protecting the natural integrity of federal lands.
        </strong>
    </p>

</MemberProfile>