@page "/Justice"

<MemberProfile MemberName="Light Yagami"
               MemberTitle="Attorney General"
               ImageUrl="https://static.wikia.nocookie.net/moral-ranking/images/7/73/Anime_Light.webp">

    <p>
        <strong>
            The DOJ enforces law and ensures justice. Light’s exceptional intellect and drive for order make him a formidable candidate, despite his moral complexities. He would use his brilliant analytical mind to target major organized crime and international threats with ruthless efficiency and strategic planning. His focus would be on rapid, high-level investigations to uphold the rule of law and maintain domestic security with uncompromising rigor.
        </strong>
    </p>

</MemberProfile>