@page "/Justice"

<MemberProfile MemberName="Light Yagami"
               MemberTitle="Attorney General"
               ImageUrl="https://static.wikia.nocookie.net/moral-ranking/images/7/73/Anime_Light.webp">

    <p>
        <strong>TO DO</strong>
    </p>

</MemberProfile>