@page "/Labor"

<MemberProfile MemberName="Dwight Schrute"
               MemberTitle="Secretary of Labor"
               ImageUrl="https://www.nbcstore.com/cdn/shop/products/OFFICE-DSS-63-MF1.jpg">

    <p>
        <strong>TO DO</strong>
    </p>

</MemberProfile>