@page "/Labor"

<MemberProfile MemberName="Dwight Schrute"
               MemberTitle="Secretary of Labor"
               ImageUrl="https://www.nbcstore.com/cdn/shop/products/OFFICE-DSS-63-MF1.jpg">

    <p>
        <strong>
            The Department of Labor mandates adherence to safety and wage laws. Dwight is ideally suited due to his highly dedicated focus on protocol, authority, and meticulous rule compliance. As Secretary, he would act as an uncompromising enforcer of worker protections (OSHA standards, fair pay), leveraging his hyper-vigilance and deep knowledge of workplace structure to efficiently investigate and penalize labor violations.
        </strong>
    </p>

</MemberProfile>