@page "/State"

<MemberProfile MemberName="Princess Bubblegum"
               MemberTitle="Secretary of State"
               ImageUrl="https://upload.wikimedia.org/wikipedia/en/0/00/Princess_Bubblegum.png">

    <p>
        <strong>TO DO</strong>
    </p>

</MemberProfile>