@page "/State"

<MemberProfile MemberName="Princess Bubblegum"
               MemberTitle="Secretary of State"
               ImageUrl="https://upload.wikimedia.org/wikipedia/en/0/00/Princess_Bubblegum.png">

    <p>
        <strong>
            The Department of State requires strategic diplomacy and international relations expertise. Princess Bubblegum is a highly strategic, science-minded sovereign accustomed to complex foreign politics. She would conduct foreign policy focused on long-term stability and scientific advancement, skillfully negotiating and upholding treaties, and ensuring the U.S. maintains a strong, stable, and strategically advanced position on the global stage.
        </strong>
    </p>

</MemberProfile>