@page "/Transportation"

<MemberProfile MemberName="Peter Parked-Car"
               MemberTitle="Secretary of Transportation"
               ImageUrl="https://static.wikia.nocookie.net/superheroes/images/3/38/SpiderMobile.gif">

    <p>
        <strong>TO DO</strong>

        <strong>MAKE HORIZONTAL IMAGE FRAME</strong>
    </p>

</MemberProfile>