@page "/Transportation"

<MemberProfile MemberName="Peter Parked-Car"
               MemberTitle="Secretary of Transportation"
               ImageUrl="/images/PeterParkedCar.png">

    <p>
        <strong>
            The DOT ensures the safety and efficiency of national transport systems. Peter Parked-Car, as a heroic, mobility-focused entity, understands infrastructure needs instinctively. He would prioritize swift repairs, innovative traffic management, and conduct personal, rapid inspections of roads, railways, and air traffic control to ensure that all national transportation systems operate safely, reliably, and are fully accessible.
        </strong>

        <strong>MAKE HORIZONTAL IMAGE FRAME</strong>
    </p>

</MemberProfile>