@page "/Treasury"

<MemberProfile MemberName="Mr. Beast"
               MemberTitle="Secretary of Treasury"
               ImageUrl="https://www.pngmart.com/files/23/Mr-Beast-PNG-HD.png">

    <p>
        <strong>
            The Treasury manages federal finances and monetary policy. Mr. Beast's unique expertise lies in wealth mobilization and high-impact charitable strategy. He would bring a focus on efficiency and transparency to federal spending, aggressively "auditing" the economy for opportunities to generate and distribute public value, ensuring that federal funds are utilized with maximum effect for national benefit.
        </strong>
    </p>

</MemberProfile>