@page "/Treasury"

<MemberProfile MemberName="Mr. Beast"
               MemberTitle="Secretary of Treasury"
               ImageUrl="https://www.pngmart.com/files/23/Mr-Beast-PNG-HD.png">

    <p>
        <strong>TO DO</strong>
    </p>

</MemberProfile>