@page "/Veterans"

<MemberProfile MemberName="Master Chief (John)"
               MemberTitle="Secretary of Veterans Affairs"
               ImageUrl="https://freepngimg.com/thumb/halo/20642-9-master-chief-clipart.png">

    <p>
        <strong>TO DO</strong>
    </p>

</MemberProfile>