@page "/Veterans"

<MemberProfile MemberName="Master Chief (John)"
               MemberTitle="Secretary of Veterans Affairs"
               ImageUrl="https://freepngimg.com/thumb/halo/20642-9-master-chief-clipart.png">

    <p>
        <strong>
            The VA demands unwavering support for those who served. Master Chief is a highly decorated veteran whose credibility is absolute. He possesses a deep understanding of the sacrifices made by service members. His mission would be to ruthlessly advocate for improved veteran healthcare (especially mental health services) and ensure benefits are delivered quickly and with dignity, viewing every veteran as a brother or sister in need of the nation's full support.
        </strong>
    </p>

</MemberProfile>